Its {{isCorrectDesc}} !!!

<a href="/" class="btn btn-primary"><ion-icon name="home"></ion-icon>Home</a>&nbsp;&nbsp;
{{#if isCorrect}}
Thanks for trying!
{{else}}
<a href="/api/try-quizes" class="btn btn-primary" role="button" aria-pressed="true">Try Again</a>
{{/if}}